@model Bangazon.Models.ProductViewModels.ProductSearchViewModel

@{
    ViewData["Title"] = "Search";
}

<h2>Search Results for "@Model.Search"</h2>
<hr />
<p>Showing all Products related to "@Model.Search"</p>
<hr />
@if (Model.Products.Count() == 0) 
{ 
    <p>No Products match "@Model.Search"</p>
}
else 
{ 
    <table class="table">
        <thead>
            <tr>
                <th class="col-md-2">
                    Title
                </th>
                <th class="col-md-4">
                    Description
                </th>
                <th class="col-md-2">
                    Price
                </th>
            </tr>
        </thead>
        <tbody>
    @foreach (var item in Model.Products) {
            <tr>
                <td class="col-md-2">
                    <a asp-controller="Products" asp-action="Details" asp-route-id="@item.ProductId">@item.Title</a>
                </td>
                <td class="col-md-4">
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td class="col-md-2">
                    @item.Price
                </td>
            </tr>
    }
        </tbody>
    </table>
}
