@model IEnumerable<Bangazon.Models.Product>

@{
    ViewData["Title"] = "Home Page";
}
@*

        Author:     Daniel Figueroa
        Purpose:    Index loops over the List that was send by controller and utilizes bootstrap columns to put content into their own containers and hyperlinks to the details of each.

*@
<div class="container">
    <h2>Welcome to Bangazon!</h2>
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-md-3 bg-primary" style="border: 4px white solid">
                <div>
                    <strong>@Html.DisplayNameFor(model => model.Title):</strong> <a asp-controller="Products" asp-action="Details" asp-route-id="@item.ProductId">@Html.DisplayFor(modelItem => item.Title)</a>
                </div>
                <div>
                    <strong>@Html.DisplayNameFor(model => model.Description):</strong> @Html.DisplayFor(modelItem => item.Description)
                </div>
                <div>
                    <strong> @Html.DisplayNameFor(model => model.DateCreated):</strong> @Html.DisplayFor(modelItem => item.DateCreated)
                </div>
            </div>
        }
    </div>
</div>
