@model Bangazon.Models.OrderViewModels.OrderDetailViewModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Order</h4>
    <hr />
    <dl class="dl-horizontal">
        @if (Model.Order != null)
        {
            <dt>
                @Html.DisplayNameFor(model => model.Order.DateCreated)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Order.DateCreated)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Order.User)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Order.User.FirstName)
            </dd>
            <dt>
                Items in Order
            </dt>
            <dd>
                <div class="row">
                    <div class="col-md-2">Name</div>
                    <div class="col-md-1">Price</div>
                    <div class="col-md-1">Quantity</div>
                    <div class="col-md-1"></div>
                </div>
                <div class="row">
                    <hr class="col-md-5 hr-margin-sm" />
                </div>
                @foreach (var item in Model.LineItems)
                {
                    <div class="row">
                        <div class="col-md-2">
                            <a asp-controller="Products" asp-action="Details" asp-route-id="@item.Product.ProductId" class="category-title">
                                @item.Product.Title
                            </a>
                        </div>
                        <div class="col-md-1">
                            @item.Cost
                        </div>
                        <div class="col-md-1">
                            @item.Units
                        </div>
                        <div class="col-md-1">
                            <form asp-controller="Products" asp-action="RemoveCartProduct" asp-route-id="@item.OrderProductId">
                                <input type="submit" class="btn btn-danger btn-sm" value="Remove"/>
                            </form>
                        </div>
                    </div>
                    <div class="row">
                        <hr class="col-md-5 hr-margin-sm" />
                    </div>
                }
            </dd>
            @if (Model.Order.PaymentType != null)
            {
                <dt>
                    @Html.DisplayNameFor(model => model.Order.PaymentType)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Order.PaymentType.AccountNumber)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Order.DateCompleted)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Order.DateCompleted)
                </dd>
            }
        }
        @if (Model.Order == null)
        {
            <dd>You currently have no items in your cart</dd>
        }
    </dl>
</div>
<div>
</div>
