@model Bangazon.Models.ProductTypeViewModels.ProductTypeListViewModel

@{
    ViewData["Title"] = "Product Categories";
}

<h2>@ViewData["Title"]</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>

<div class="col-md-12 category-container">
    <ul class="col-md-6">
        @foreach (GroupedProducts gp in Model.GroupedProducts) 
        {
            <li class="list-group-item category-list-item">
                <span class="category-title">@gp.TypeName (@gp.ProductCount)</span>
                <div class="d-flex category-top-products">
                    @foreach (Product product in gp.Products) 
                    { 
                        <a asp-action="Details" asp-controller="Products" asp-route-id="@product.ProductId" class="col-md-12 top-product-link">@product.Title</a><br />
                    }
                </div>
            </li>
        }
    </ul>
</div>


